@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DS-Digital;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/DS-DIGI.TTF) format('truetype');
  
  }
  
  @font-face {
    font-family: DS-DigitalB;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/DS-DIGIB.TTF) format('truetype');
  }
  

  html, body {
    font-family: 'DS-Digital', sans-serif!important;
  }